<div class="container"> 
  <table id="result-dt" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Date</th>
        <th class="th-sm">Average Precipitation</th>
        <th class="th-sm">Average Discharge</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>2019-01-01</td>
        <td>4</td>
        <td>2.1</td>
      </tr>
      <tr>
        <td>2019-01-02</td>
        <td>3</td>
        <td>2.003</td>
      </tr> 
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#result-dt').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>
