<div class="container"> 
  <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Date</th>
        <th class="th-sm">Average Precipitation</th>
        <th class="th-sm">Average Discharge</th>
      </tr>
    </thead>

    <tbody>
      {% for label in data_labels %}
        <tr>
          <td>{{ label }}</td>
          <td>{{ p_data[loop.index - 1] }}</td>
          <td>{{ w_data[loop.index - 1] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
