<div class="user-form"> 
  <form action="{{ url_for('index') }}" method="post"> 
  <div>
    <select class="browser-default custom-select" name="state">
      <!--option selected>Select A State</option-->
      <option selected value="al">Alabama</option>
      <option value="tx">Texas</option>
      <option value="wi">Wisconsin</option>
    </select>
  </div>

  <div class="container mt-2 pt-2">
    <!-- Group of default radios - option 1 -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
      <label class="custom-control-label" for="defaultGroupExample1">Past Week</label>
    </div>

    <!-- Group of default radios - option 2 -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
      <label class="custom-control-label" for="defaultGroupExample2">Past Month</label>
    </div>

    <!-- Group of default radios - option 3 -->
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
      <label class="custom-control-label" for="defaultGroupExample3">Past Year</label>
    </div>
  </div>

  <!-- Graph / Table Switch -->
  <div class="container mt-2 pt-2">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitches" name="table">
      <label class="custom-control-label" for="customSwitches">Table</label>
    </div>
  </div>

  <div class="mt-2 pt-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>
