<div class="user-form"> 
  <form action="{{ url_for('index') }}" method="post"> 
  <div>
    <h4>State</h4>
    <hr>
    <select class="browser-default custom-select" name="state">
      <!--option selected>Select A State</option-->
      {% for state in states %}
        <option {% if user_state == state %}selected{% endif %} value="{{ state }}">
          {{ states[state] }}
        </option>
      {% endfor %}
    </select>
  </div>

  <h4 class="mt-3 pt-2">Period</h4>
  <hr>
  <div class="container mt-1 pt-1">

    <!-- Past Week --> 
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input"
             id="past_week" name="periodGroup" value="week"
             {% if period == "week" %} 
               checked 
             {% endif %}>
      <label class="custom-control-label" for="past_week">Past Week</label>
    </div>

    <!-- Past Six Weeks --> 
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input"
             id="past_month" name="periodGroup" value="month"
             {% if period == "month" %} 
               checked 
             {% endif %}>
      <label class="custom-control-label" for="past_month">Past Six Weeks</label>
    </div>

    <!-- Past Year --> 
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input"
             id="past_year" name="periodGroup" value="year"
             {% if period == "year" %} 
               checked 
             {% endif %}>
      <label class="custom-control-label" for="past_year">Past Year</label>
    </div>

    <!-- Past 3 Years --> 
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input"
             id="past_three" name="periodGroup" value="three_year"
             {% if period == "three_year" %} 
               checked 
             {% endif %}>
      <label class="custom-control-label" for="past_three">Past Three Years</label>
    </div>


    <!-- Custom
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input"
             id="custom" name="periodGroup" value="custom"
             {% if period == "custom" %} 
               checked 
             {% endif %}>
      <label class="custom-control-label" for="custom">Custom</label>
    </div>
   --> 

  </div>

  <div class="mt-2 pt-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>
